@font-face {
  font-family: 'iconfont';  /* project id 408106 */
  src: url('https://at.alicdn.com/t/font_408106_prxw6xlgxx14te29.eot');
  src: url('https://at.alicdn.com/t/font_408106_prxw6xlgxx14te29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_408106_prxw6xlgxx14te29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_408106_prxw6xlgxx14te29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_408106_prxw6xlgxx14te29.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #ECECEC;
}
/* 头部开始 */
header{
  width: 100%;
  height: .45rem;
  background-color: #FFCA13;
  position: fixed;
  top: 0;
  z-index: 99;
} 

a{
  width: .35rem;
  height: .35rem;
  background-color: #FFFFFF;
  float: left;
  margin-top: .05rem;
}
.top3{
  float: right;
  margin-right: .1rem;
  border-radius: 50%;
  font-size: .2rem;
  color: #FFD235;
  text-align: center;
  line-height: .35rem;
}
.top1{
  margin-left: .1rem;
  border-radius: 50%;
  font-size: .2rem;
  color: #FFD235;
  text-align: center;
  line-height: .35rem;
}
.gouwuche{
  width: 2.55rem;
  height: .35rem;
/*   background-color:#F4F4F4 ; */
 /*  border: 1px solid #E9E9E9;
  border-radius: 5px;  */
  float: left;
  margin-left: .15rem;  
  margin-top: .05rem;
  font-size: .20rem;
  color: #5E5E5E;
  text-align: center;
  line-height: .35rem;
}
main{
	position: absolute;
	right: 0;
	left: 0;
	top: .45rem;
	bottom: .6rem;
	margin: auto;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}

.list{
	width: 100%;
	height: .7rem;
	background-color: #F8F8F8;
	padding: .2rem .1rem .1rem;
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
  border-bottom: .01rem solid #B9B9B9;
}
.list1{
	width: .8rem;
	height: .4rem;
	background-color: #1EE497;
	border-radius: .05rem;
  text-align: center;
}
.last{
  background-color: #F8F8F8;
}
.left{
	width: .06rem;
	height: .06rem;
	background-color: #FFFFFF;
	border-radius: 50%;
	margin-left: .05rem;
	margin-top: .15rem;
	float: left;
}
.zi{
	font-size: .12rem;
	color: #ffffff;
	float: left;
	margin-top: .11rem;
  margin-left: .1rem;
}
.left2{
	float: right;
	margin-right: 0.05rem;
}
.zi1{
  font-size: .12rem;
  color: #ABABAB;
  line-height: .4rem;
}
.bianhao{
  width: 100%;
  height: .2rem;
  /* background-color: skyblue; */
  overflow: hidden;
}
.bianhao .wenzi{
  font-size: .14rem;
  color: #ABABAB;
  line-height: .2rem;
  margin-left: .1rem;
  margin-right: .05rem;
  float: left;
}
.haoma{
  font-size: .12rem;
  color: #2C2C2C;
  margin-top: .04rem;
}
.dingdan{
  width: 100%;
  height: 1.45rem;
  background-color: #FFFFFF;
  overflow: hidden;
  border-bottom: .01rem solid #B9B9B9;
}
.neirong{
  width: 3.55rem;
  height: 1.2rem;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: .05rem;
  /* border: .02rem solid #C2C2C2; */
  margin-top: .1rem;
}
img{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: .05rem;
  background-color: orange;
  float: left;
  margin-right: .1rem;
}
.neirong a{
  width: 2.2rem;
  font-size: .14rem;
  color: #2C2C2C;
}
.guige{
  width: 2rem;
  height: .2rem;
  /* background-color: blue; */
  float: left;
  margin-top:.15rem ;
}
.guige span{
  font-size: .12rem;
  line-height: .2rem;
  color: #BDBDBD;
  display: block;
  float: left;
  margin-right: .3rem;
}
/* .yuan{
  width: .25rem;
  height: .25rem;
  background-color: orange;
  float: right;
  border-radius: 50%;
  border: .01rem solid #CFCFCF;
  font-size: .2rem;
  color: #E93F3F;
  text-align: center;
  line-height: .25rem;
  margin-top: .5rem;
} */
.jiage{
  font-size: .14rem;
  float: right;
  margin: .2rem .1rem;
}
.heji{
  width: 100%;
  height: .6rem;
  background-color: #FFFFFF;
  border-bottom: .01rem solid #B9B9B9;
}
.heji .left{
  width: 2rem;
  height: .20rem;
  font-size: .18rem;
  color: #2C2C2C;
  float: left;
  margin-left: .1rem;
  margin-top: .2rem;
}
.fukuan{
  width: 1rem;
  height: .3rem;
  background-color: #E93F3F;
  float: right;
  margin-top: .15rem;
  border-radius: 0.5rem;
  margin-right: .1rem;
  font-size: .20rem;
  color: #ffffff;
  text-align: center;
  line-height: .3rem;
}



/* 尾部开始 */
footer{
  width: 100%;
  height: .6rem;
  background-color: #2C2C2C;
  position: fixed;
  bottom: 0;
  z-index: 99;
}
.bottom{
  width: .7rem;
  height: .6rem;
  background-color: #2C2C2C;
  margin-top: .1rem;  
  margin-left: .2rem; 
  /* border-radius: .1rem; */
  
}
.bottom .iconfont{
  width: .4rem;
  height: .3rem;
  /* background-color: red; */  
  font-size: .25rem;
  color: #F4F4F4;
  text-align: center;
  margin: 0 auto;
}
.bottom .wenzi{
  font-size: .15rem;
  display: block;
  text-align: center;
  color: #F4F4F4;
}
.bottom-1 .iconfont{
  color: #FFCA13;
}
.bottom-1 .wenzi{
  color: #FFCA13;
}